<!--
# -------------------------------------------------------------------------------
# Author:      Cody Martin <cody.martin@blacklanternsecurity.com>
#
# Created:     10-15-2020
# Copyright:   (c) BLS OPS LLC. 2020
# Licence:     GPL
# -------------------------------------------------------------------------------
-->

@{ ViewData["Title"] = "Logout"; }

<h1>Logout</h1>

<form method="get" asp-action="Logout" asp-controller="Security">
    <input type="submit" value="Logout" />
</form>

