<!--
# -------------------------------------------------------------------------------
# Author:      Cody Martin <cody.martin@blacklanternsecurity.com>
#
# Created:     10-15-2020
# Copyright:   (c) BLS OPS LLC. 2020
# Licence:     GPL
# -------------------------------------------------------------------------------
-->

@{ ViewData["Title"] = "Main"; }

<div class="dialog-box_success" data-title="Getting Started">
    <p>To start a new threat matrix, navigate to <a asp-action="Assessments" asp-controller="Home">Assessments</a></p>
    <p>To create new event templates, navigate to <a asp-action="Steplates" asp-controller="Home">Templates</a></p>
</div>

