.dialog-box_info, .dialog-box_error, .dialog-box_success, .dialog-box_warning {
  
  border-radius: 1em;
  color: #fafafa;
  margin: 5% auto;
  max-width: 50em;
  padding: 2em;
  position: relative;
  width: 95%; 

}

    .dialog-box_info:before, .dialog-box_error:before, .dialog-box_success:before, .dialog-box_warning:before {
        background: #000;
        content: attr(data-title);
        left: 50%;
        padding: 0 1em;
        position: absolute;
        text-transform: uppercase;
        top: -0.6em;
        text-align: center;
        transform: translateX(-50%);
        max-height: 2em;
        max-width: 25em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

.dialog-box_info {
  border: 0.2em solid #37ddfd;
  box-shadow: inset 0 0 0.4em #05d5fc, 0 0 0.4em #05d5fc; }
  .dialog-box_info:before {
    border-left: 0.2em solid #37ddfd;
    border-right: 0.2em solid #37ddfd;
    color: #9ceefe;
    text-shadow: 0 0 0.4em #05d5fc; }
  .dialog-box_info em {
    color: #9ceefe; }

.dialog-box_error {
  border: 0.2em solid #ff3333;
  box-shadow: inset 0 0 0.4em red, 0 0 0.4em red; }
  .dialog-box_error:before {
    border-left: 0.2em solid #ff3333;
    border-right: 0.2em solid #ff3333;
    color: #ff9999;
    text-shadow: 0 0 0.4em red; }
  .dialog-box_error em {
    color: #ff9999; }

.dialog-box_success {
  border: 0.2em solid #64ff47;
  box-shadow: inset 0 0 0.4em #39FF14, 0 0 0.4em #39FF14; }
  .dialog-box_success:before {
    border-left: 0.2em solid #64ff47;
    border-right: 0.2em solid #64ff47;
    color: #baffad;
    text-shadow: 0 0 0.4em #39FF14; }
  .dialog-box_success em {
    color: #baffad; }

.dialog-box_warning {
  border: 0.2em solid #ffff33;
  box-shadow: inset 0 0 0.4em yellow, 0 0 0.4em yellow; }
  .dialog-box_warning:before {
    border-left: 0.2em solid #ffff33;
    border-right: 0.2em solid #ffff33;
    color: #ffff99;
    text-shadow: 0 0 0.4em yellow; }
  .dialog-box_warning em {
    color: #ffff99; }
